/* Global Style */
:root {
	--colorOne: #cacaca;
	--colorTwo: #8c9ead;
	--colorThree: #2f2f2f;
	--colorFour: #202020;
	--colorFive: #101010;
}

* {
	margin: 0;
	padding: 0;

	font-family: 'Bungee', cursive;

	box-sizing: border-box;
}

/* Global Classes */
.flexRow {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.flexCol {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.screen {
	height: 100vh;
	background-color: var(--colorFour);
}

.hidden {
	display: none;
}

.shadowOne {
	filter: drop-shadow(1px 2px 2px #000000);
}

.shadowTwo {
	filter: drop-shadow(2px 4px 4px #000000);
}

.shadowThree {
	filter: drop-shadow(4px 8px 8px #000000);
}

.fontSizeOne {
	font-size: 18pt;
}

.colorOne {
	color: var(--colorOne);
}

.colorTwo {
	background-color: var(--colorTwo);
}

.clickHover {
	cursor: pointer;
	transition: 200ms ease-in-out;
}

.clickHover:hover {
	transform: scale(1.1);
}

.borderRound {
	border: solid 2px var(--colorFive);
	border-radius: 8px;
}

.buffer {
	margin: 1vh;
}

/* <startView>  */
#startTitle {
	font-size: 48pt;
}

#startPlayerSelect {
	height: 80vh;
}

#startPlayerOne,
#startPlayerTwo {
	height: 20vh;

	background-color: var(--colorThree);
}

#startPlayerOneTextBox,
#startPlayerTwoTextBox {
	width: 80%;
	line-height: 2em;

	color: var(--colorFive);

	text-align: center;
}

#startPlayerOneTextBox::placeholder,
#startPlayerTwoTextBox::placeholder {
	color: var(--colorFive);
}

#startPlayerOneSymbol,
#startPlayerTwoSymbol {
	font-size: 28pt !important;
}

#rangeSlider {
	width: 15vmin;

	transform: scale(2);
}

#startPlayGame {
	height: 8vh;
	width: 20vmin;
}

/* <gameView> */
#gameView {
	align-items: stretch;
}

#gameRestart,
#gameMainMenu {
	height: 4vh;
	width: 20vmin;
}

#gameField {
	display: grid;
	grid-template-columns: repeat(3, 20vw);
	grid-gap: 4px;
}

.gameTile {
	height: 20vmin;

	text-align: center;

	font-size: 20vmin !important;
}

.gameTile:hover {
	border: solid 4px var(--colorFive);
}

/* <gameOverView> */
#gameWinner {
	font-size: 64pt !important;
}
#gameWinText {
	font-size: 36pt;
}

#gameOverPlayAgain,
#gameOverMainMenu {
	height: 5vh;
	width: 20vmin;
}

/* <gameViewModal> */
#gameViewModal {
	height: 40vh;
	width: 30vw;

	position: absolute;
	top: 30vh;
	left: 35vw;

	background-color: var(--colorThree);

	text-align: center;

	z-index: 1;
}

#endRoundText {
	height: 20vh;
}

#roundWinner {
	font-size: 64pt !important;
}

#gameNextRound {
	height: 50px;
	width: 100px;

	position: absolute;
	bottom: 0;
}